---
Checks: 'clang-analyzer-*,clang-diagnostic-*,misc-*,-misc-include-cleaner,-misc-no-recursion,modernize-*,performance-*,portability-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
